a:hover {
    color: orange;
}
a:visited {
        color: green;
}

a {
    color: red;
}
 
a:active {
    color: aqua;
}
.container{
    height: 100px;
    background: black;
}

a:hover + .container {
    background: blue;
}

